div.l-search {
    margin-bottom: 80px;
}

div.search {
    box-shadow: 0px 5px 15px 6px #0000000d;
    background-color: #fff;
    display: flex;
    border-radius: 15px;
    margin-top: 25px;
    width: 100%;
    height: max-content;
}

div.search div.img {
    padding: 20px;
}

div.search div.img img.search-img:hover {
    cursor: pointer;
}

div.search div.img img.search-img {
    width: 160px;
    background-color: #eaeaea;
}

div.search .body {
    padding: 20px 20px 20px 0px;
}

div.search .body .search-price {
    font-size: 14px;
    font-weight: 700;
    color: #798086;
}

div.search .body .search-desc {
    font-size: 14px;
    font-weight: 700;
    color: #5468FF;
}

div.search .body .search-title {
    margin: 15px 0px;
    color: #393939;
    font-weight: 500;
    font-size: 20px;
}
