div.search-page {
    margin-bottom: 80px;
    margin-top: 20px;
}

div.inline-block {
    display: flex;
}

button.btn.rounded-button.btn-primary {
    font-size: 16px;
    font-family: monospace;
    border-radius: 20px;
    width: 63px;
    height: 48px;
}

input.search {
    display: block;
    height: 3em;
    border-radius: 20px;
    transition: box-shadow .15s ease-in-out;
    outline: none;
    width: 100%;
}

input.search:focus {
    box-shadow: 0 0 20px 0px #00000024;
}

div.alert {
    margin-top: 1rem;
}
