p.question {
    letter-spacing: 0.4px;
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: unset;
}

a[href].signin {
    border-bottom: 0.1pt solid;
}
a[href].signup {
    border-bottom: 0.1pt solid;
}
