div.option {
    background-color: #fff;
    border-radius: 15px;
    margin-right: 15px;
    box-shadow: 0px 5px 15px 6px #0000000d;
    width: 180px;
}

div.options {
    box-shadow: 0px 13px 15px 6px #edeef2;
    overflow: auto;
    display: flex;
    flex-direction: row;
}

div.options .body {
    padding: 20px;
}

div.option .option-price {
    font-size: 14px;
    font-weight: 700;
    color: #798086;
}

div.option .option-desc:hover {
    cursor: pointer;
}

div.option .option-desc {
    font-size: 14px;
    font-weight: 700;
    color: #5468FF;
}

div.option .option-title {
    margin: 15px 0px;
    color: #393939;
    font-weight: 500;
    font-size: 20px;
}

div.option .option-img:hover {
    cursor: pointer;
}

div.option .option-img {
    width: 180px;
    background-color: #eaeaea;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}