html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    width: 8px;
    border-radius: 4px;
    background-color: #e0e0e0;
}

body {
    margin: 0;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
    background-color: #F4F5F9;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    width: 100%;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    box-shadow: 0 0 24px rgba(0,0,0,.15);
    min-height: 100vh;
    background-color: #fff;
}

/* font type recommended .woff (for website) */
@font-face {
    font-family: "SF Display";
    font-weight: 400;
    src: url("../font/SF-UI-Display-Regular.otf");
    font-display: fallback;
}
@font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url("../font/Roboto-Regular.woff");
    font-display: fallback;
}

.container {
    margin-bottom: 80px;
}

section {
    margin-bottom: 30px;
}

section>.title {
    text-align: center;
    color: #313C4E;
    text-transform: uppercase;
    margin: 10px 0px;
    font-size: 17px;
    font-weight: 700;
}

.make-it-horizontal {
    overflow: auto;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
}

hr:not(.end) {
    border-top: 1px solid #EAEAEC;
    margin-top: 4px;
    margin-bottom: 4px;
}

hr.end {
    padding: 2px;
    background-color: #d6d9df;
    border-radius: 15px;
    width: 40%;
    margin-top: 30px;
    border-top: unset;
}

a {
    color: #5468FF;
    border-bottom: .5px solid #5468FF;
}

a:hover {
    text-decoration: none;
}

.un-text-d_>a {
    border-bottom: unset;
}

button[type=submit] {
    width: 100%;
}

button.direct {
    color: #5468FF;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    outline: none;
    width: max-content;
    background-color: unset;
}

button.btn.primary {
    padding: 8px;
    background-color: #5468FF;
    box-shadow: 0px 5px 15px 6px #5468ff40;
    border-radius: 15px;
    display: flex;
}

button.btn.primary>.label {
    margin: 10px 0px;
    color: #FFF;
    font-weight: 500;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    font-size: 17px;
    text-align: center;
    width: 100%;
    position: relative;
    left: 15px;
}

button.btn.primary>.btn {
    border-radius: 10px;
    background-color: #3A55F0;
    width: 50px;
    height: 45px;
    color: #FFF;
    margin-left: 8px;
    transition: 0.3s background-color;
}

button.btn.primary>.btn:hover {
    cursor: pointer;
    background-color: #7d8aed;
}

button.btn.primary>.btn>img.icon {
    width: 20px;
    position: relative;
    top: 2px;
}

.form-title, .page-title {
    margin-top: 20px;
    font-size: 1.1rem;
    text-align: center;
    letter-spacing: 0.3px;
    font-weight: 600;
    color: #313C4E;
}

.form-guide {
    margin: 5px auto;
    max-width: 70%;
    text-align: center;
    color: #39425B;
    font-size: 1.1rem;
    letter-spacing: 0.3px;
}

.form-group {
    padding: 10px 20px 10px 20px;
    margin-bottom: unset;
}

input.form-control {
    padding: unset;
    font-weight: 600;
    font-size: 21px;
    border: none;
    color: #2B324E;
}

input.form-control::placeholder {
    font-weight: 600;
    color: #D3D6DB;
    font-size: 21px;
    letter-spacing: 0.2px;
}

input.form-control:focus {
    border-color: unset;
    box-shadow: unset;
}

form>.form {
    box-shadow: 0px 5px 15px 6px #0000000d;
    background-color: #FFF;
    border-radius: 15px;
}

form>.form>.form-group>label:first-child {
    padding-top: 10px;
}

form>.form>.form-group>label:not(.form-check-label) {
    margin-bottom: 8px;
}

form>.form>.form-group>label.form-label {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: #74788C;
}

form>.form>.form-group>span {
    color: #74788C;
}

form>.footer {
    text-align: center;
    margin-top: 35px;
    letter-spacing: 0.3px;
    font-size: 1.1rem;
}

form>.footer:not(a) {
    color: #39425B;
}


span.counter {
    margin-left: 7px;
    padding: 1px 9px;
    border-radius: 15px;
    color: #fff;
    background-color: #3CC9C3;
}

.alert {
    text-align: center;
}

.alert>h4 {
    color: #313C4E;
    font-weight: 600;
}

.alert>.alert-body {
    color: #666C78;
    font-size: 18px;
    margin: 0px auto;
    width: calc(100%/1.5);
}

img:not(.App-logo) {
    animation: .1s ease-in-out fade;
}

@keyframes fade {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.middle-scr {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.middle-btm {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.d-grid {
    min-height: 89vh;
    display: grid;
    text-align: center;
}
.d-grid>div {
    margin: auto 15px;
}
