body {
    background-color: #F4F5F9;
}

.linear-background-gradient {
    background: linear-gradient(#9EAFFF, #00E3D1);
}

.desc {
    font-size: 14px;
    font-weight: 700;
    color: #5468FF;
}

.title {
    margin: 15px 0px;
    color: #393939;
    font-weight: 500;
    font-size: 20px;
}

.price {
    font-size: 14px;
    font-weight: 700;
    color: #798086;
}

.progress {
    background-color: #00E3D1;
    border: 3px solid #3CC9C3;
}

.primary {
    background-color: #5468FF;
}
.primary-dark {
    background-color: #3A55F0;
}

.title {
    color: #313C4E;
}

.box {
    box-shadow: 0px 5px 15px 6px #0000000d;
    border-radius: 15px;

    padding: 8px;
}
.box .child {
    border-radius: 10px;
    padding: .375rem .75rem;
}

input::placeholder {
    color: #D3D6DB;
}
