body.night * {
    transition: 1.7s ease-in-out background-color,
                1.7s color;
}

body.night {
    background-color: #171531;
}

body.night>div#root>header>.welcome {
    color: #FFF;
}

body.night input::placeholder {
    color: rgb(204, 204, 204);
}
body.night .input-wrapper>input,
body.night .input-wrapper {
    background-color: #232148;
    color: #FFF;
}
body.night .input-wrapper {
    box-shadow: 0px 5px 15px 6px #15142F;
}
body.night .input-wrapper>button.search {
    box-shadow: 0px 5px 15px 6px #5468ff2e;
}

body.night>div#root>header>.apps>.app {
    background-color: #232148;
    color: #FFF;
    box-shadow: 0px 5px 15px 6px #15142F;
}

body.night section>.title {
    color: #FFF;
}
body.night section>.desc {
    color: #EAEAEA;
}

body.night section>.options,
body.night section>.products {
    box-shadow: 0px 5px 15px 6px #15142F;
}

body.night .product-item-min,
body.night .product-item,
body.night .option {
    background-color: #232148;
    box-shadow: 0px 5px 15px 6px #15142F;
}
body.night .product-item>.body>.price {
    color: #EAEAEA;
}

body.night .product-item-min>.body>.title,
body.night .product-item>.body>.title {
    color: #FFF;
}

body.night .option>.body>.title {
    color: #FFF;
}

body.night nav.main-menu,
body.night nav.nav-checkout {
    background-color: #171531;
    box-shadow: 0px 5px 15px 6px #15142F;
}

body.night nav.nav-checkout>.go-checkout>.text {
    color: #FFF;
}

body.night nav.main-menu>a.nav-link.active {
    background-color: #00E3D1;
}

body.night nav.main-menu>a.nav-link.nav-account>img.menu-account {
    background-color: #2f2c5c;
}

body.night hr {
    border-top: 1px solid #1E1B3A;
}

body.night .h_>a {
    background-color: #232148;
    box-shadow: 0px 5px 15px 6px #15142F;
    color: #EAEAEA;
    border: unset;
}
body.night .h_>a.active {
    box-shadow: 0px 5px 15px 6px #5468ff2e;
    background-color: #00E3D1;
    color: #2f2c5c;
}

body.night .ch>.sub-category {
    background-color: #232148;
    box-shadow: 0px 5px 15px 6px #15142F;
}
body.night .ch>.ch-f {
    background-color: #232148;
}
body.night .ch>.sub-category>.name {
    color: #FFF;
}
body.night .ch>.sub-category>.desc {
    color: #EAEAEA;
}
body.night button.direct {
    background-color: #232148;
}


body.night .header-account {
    background-color: unset;
    box-shadow: unset;
    color: #EAEAEA;
}
body.night .header-account>.account>.user-info>.name {
    color: #FFF;
}
body.night .header-account>.account>.avatar {
    background-color: #2f2c5c;
}

body.night .header-account>.tabs {
    background-color: #232148;
}
body.night .header-account>.tabs>a {
    color: #DBDBE1;
}
body.night .header-account>.tabs>a:first-child {
    border-right: 1px solid #1E1B3A;
}
body.night .header-account>.tabs>a:nth-child(2) {
    border-right: 1px solid #1E1B3A;
}
body.night .header-account>.tabs>a:nth-child(3) {
    border-right: 1px solid #1E1B3A;
}
body.night .header-account>.tabs>a.active {
    color: #00E3D1;
}

body.night .account-body>.orders>.order-confirm {
    background-color: #232148;
}
body.night .order-summary {
    background-color: #232148;
}
body.night .order-summary>.consumer-name {
    color: #FFF;
}
body.night .order-summary>.body {
    color: #fff;
}
body.night .order-summary>.body span:not(.counter) {
    color: #FFF;
}
body.night .order-summary>.body .price {
    color: #817F95;
    margin-bottom: 10px;
}
body.night span.counter {
    color: #FFF;
    background-color: #15142F;
}

body.night .account-body .settings {
    background-color: #232148;
}
body.night .account-body .settings>.list-group>.img>img {
    background-color: #5468FF;
    box-shadow: 0px 5px 15px 6px #5468ff1a;
}
body.night .account-body .settings>.list-group>.details>.name {
    color: #eaeaea;
}
body.night .account-body .settings>.list-group>.details>.desc {
    color: #817F95;
}

body.night .account-body .settings>.details {
    background-color: #232148;
    color: #eaeaea;
}
body.night .account-body .settings>.details>input {
    background-color: #232148;
}
body.night .account-body .settings>.details>input::placeholder {
    color: rgb(160, 160, 160);
}

body.night .account-body>.notifications>.details {
    background-color: #232148;
}
body.night .account-body>.notifications>.details>.message {
    color: #eaeaea;
}

body.night .alert {
    background-color: #232148;
}
body.night .alert>h4 {
    color: #eaeaea;
}

body.night .progress-event {
    background-color: #232148;
}

body.night .close {
    color: #FFF;
}

body.night .page-title,
body.night .form-title {
    color: #FFF;
}

body.night .cart-item {
    background-color: #232148;
}
body.night .cart-item>.body>.name {
    color: #FFF;
}
body.night .cart-item>.body>.price,
body.night .cart-item>.body>.total {
    color: #eaeaea;
}

body.night form>.form {
    background-color: #232148;
}
body.night form>.form input {
    background-color: #232148;
    color: #eaeaea;
}
body.night form>.form input::placeholder {
    color: rgb(185, 184, 184);
}
