.ch>.sub-category {
    box-shadow: 0px 5px 15px 6px #0000000d;
    width: max-content;
    border-radius: 15px;
    background-color: #FFF;
    padding: 20px;
}

.ch>.sub-category>.name {
    color: #393939;
    font-weight: 500;
    text-shadow: 0px 0px 0.5px #686969;
    font-size: 20px;
}

.ch>.sub-category>.desc {
    color: #878787;
    font-size: 17px;
}

.ch>.ch-f {
    border-radius: 15px;
    padding: 10px;
    width: 10px;
    background-color: #FFF;
    position: relative;
    box-shadow: 0px 20px 15px 6px #0000000d;
    top: -12px;
    left: 25px;
}
