div.feedback {
    position: fixed;
    bottom: 70px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    right: 0;
    background-color: rgb(33, 37, 43);
    padding: 0em 0.2em;
    color: #edf4f6;
}

div.feedback img.feedback-icon {
    cursor: pointer;
    height: 32px;
}

div.context-view {
    width: 100%;
    background-color: rgb(33, 37, 43);
    box-shadow: rgb(0, 0, 0) 0px 0px 8px;
    bottom: 30px;
    left: -1px;
    animation: fadeIn 83ms linear;
    position: fixed;
    z-index: 1;
}

@keyframes fadeIn {
    0% { opacity: 0%; };
    100% { opacity: 100%; };
}

form.feedback-form {
    color: #edf4f6;
    padding: 1em;
}

form.feedback-form h2 {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 1.8em;
}

form.feedback-form .cancel {
    font-family: monospace;
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0em .5em;
    border: none;
    cursor: pointer;
}

form.feedback-form .content {
    font-size: 1.2em;
}

form.feedback-form .content>div {
    width: max-content;
    vertical-align: top;
    margin-top: 20px;
}

form.feedback-form .content .feedback-sentiment .sentiment {
    font-size: 28px;
    display: inline-block;
    margin: .5em 0;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid transparent;
}

form.feedback-form .content .feedback-sentiment .sentiment.checked {
    border: 1px solid rgb(0, 122, 204);
    border-radius: 20%;
}

form.feedback-form .content .contactus {
    width: max-content;
    padding: 0em 1em;
    background-color: rgb(40, 44, 52);
    border: 1px solid transparent;
}

form.feedback-form .content .contactus .channels {
    margin-top: 5px;
    font-size: .9em;
}

form.feedback-form .content .contactus .channels div {
    color: #404754;
}

form.feedback-form h3 {
    font-weight: 400;
    font-size: 1.2em;
    margin: 1em 0 0;
    padding: 0;
}

.char-counter {
    padding-left: 3px;
}

textarea.feedback-description {
    width: -webkit-fill-available;
    background-color: #edf4f6;
    color: #edf4f6;
    background-color: rgb(29, 31, 35);
    border: 1px solid transparent;
    outline: none;
    resize: none;
    font-size: 1.1em;
    margin: 6px 0 0;
    width: 100%;
    padding: 3px 2px;
    box-sizing: border-box;
}

form.feedback-form .form-buttons {
    display: flex;
    margin-top: 18px;
    text-align: right;
}

form.feedback-form .form-buttons .hide-button-container {
    display: flex;
}

form.feedback-form .form-buttons .monaco-button {
    background-color: #404754;
    border: none;
    outline: none;
    color: #fff;
    width: auto;
    padding: 8px 12px;
    margin-left: auto;
}

form.feedback-form .form-buttons .monaco-button.disabled {
    opacity: .4;
    cursor: default;
}

img.tweet-icon {
    cursor: pointer;
    height: 25px;
    margin-right: 0.6rem;
}
