div.suggested {
    background-position-x: -140px;
    background-position-y: -100px;
    background-repeat: no-repeat;
    box-shadow: 0px 13px 15px 6px #edeef2;
    border-radius: 15px;
}
div.suggested div.items {
    border-radius: 15px;
}
