button.btn.plus, button.btn.minus {
    background-color: #5468FF;
    border-radius: 15px;
    padding: 8px;
    width: 37px;
    height: 35px;
}

button.btn.plus img.plus-icon, button.btn.minus img.minus-icon {
    height: 14px;
    position: relative;
    top: -5px;
    background-color: transparent;
}