div.title span.first {
    font-size: 17px;
    font-weight: 400;
    margin-right: 5px;
}
div.title span.end {
    font-size: 17px;
    font-weight: 700;
}

div.title span {
    color: #313C4E;
    text-transform: uppercase;
    margin-bottom: 10px;
}
div.title {
    display: flex;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 7px;
}
