div.box a.box-title:hover {
    text-decoration: none;
    color: initial;
}

a.box.active {
    background-color: #5468FF;
    color: #FFF;
}

a.box {
    border-radius: 15px;
    padding: 10px 30px;
    background-color: #FFF;
    box-shadow: 0px 5px 15px 6px #0000000d;
    margin-right: 10px;
    border: 1px solid #cacaca;
    color: #393939;
    letter-spacing: 0.5px;
    transition: 0.2s background-color;
}