.list-activities {
    overflow: hidden;
    flex-direction: column;
    height: 0;
}

.list-activities .list-group-item {
    background-color: transparent;
}

.list-activities .list-group-item+.list-group-item {
    border-top: 1px solid rgba(0,0,0,.125);
}
.list-activities .list-group-item {
    opacity: 70%;
    border: unset;
    padding: unset;
}

.list-activities.expand {
    height: max-content;
    overflow: auto;
}

.list-activities.expand .list-group-item {
    opacity: unset;
    padding: .15rem 0rem;
}

span.more {
    font-size: 15px;
    cursor: pointer;
}

.notification {
    margin-top: 0.3rem;
    border-radius: 3px;
    padding: 8px;
}

.notification small.text-primary {
    color: #d82a4e!important;
}

.user {
    color: #3e3e3e;
    background-color: #edf4f6;
}

.user img.notification-icon {
    background-color: #FF9800;
    border-radius: 3px;
}

.list-activities .notification.product {
    color: #3e3e3e;
    background-color: #edf4f6;
}

.list-activities .notification.product img.notification-icon {
    background-color: #FF9800;
    border-radius: 3px;
}

.list-activities .notification.tweet {
    color: #3e3e3e;
    background-color: #edf4f6;
    width: max-content;
}

img.notification-icon {
    background-color: #FF9800;
    border-radius: 3px;
    width: 28px;
    margin-right: 0.3rem;
}
