.loading {
    position: fixed;
    left: 50%;
    top: 40%;
    z-index: 1;
    margin: -40px 0 0 -40px;
    svg {
    width: 80px;
    transform-origin: center;
    animation: rotate 0.8s linear infinite;
    // animation: rotate 2s linear infinite;
  }
  
  circle {
    fill: none;
    stroke: #00E3D1;
    stroke-width: 3.2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dashoffset: -125px;
    }
  }
  
}