nav.main-menu.navbar {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
    display: flex;
    background-color: #FFF;
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
    box-shadow: 0px 5px 15px 6px #0000000d;
    height: 60px;
}

a.nav-link:hover, div.nav-link:hover {
    background-color: #9e9e9e36;
}
a.nav-link.active {
    color: #5468ffcc;
}

a.nav-link.nav-account, div.nav-link {
    border-radius: 50%;
}

a.nav-link.nav-account:hover {
    background-color: #9e9e9e36;
}

a.nav-link.active.nav-account {
    background-color: #9e9e9e36;
}

a.nav-link:hover {
    background-color: #9e9e9e36;
}

div.nav-link .menu:hover {
    cursor: pointer;
}

div.nav-link:hover {
    cursor: pointer;
}

a.nav-link, div.nav-link {
    color: #979da6;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    padding: 0.4rem;
    transition: .2s color,
    .1s background-color, 
                .1s ease-in-out;
    margin: 0px auto;
    border-radius: 50%;
}

nav.main-menu a.nav-link:hover {
    text-decoration: none;
}

.menu-icon.avatar {
    background-color: #EAEAEA;
    border-radius: 50%;
    width: 25px;
}

.menu-icon {
    margin: auto;
    height: 25px;
}

div.context-view .menu {
    font-size: 17px;
    padding: 5px 20px;
    margin: 1px 0px;
    font-weight: 400;
    color: #5468FF;
    
    display: flex;
    flex-direction: column;
}

div.context-view .menu:hover {
    background-color: #EAEAEA;
    cursor: pointer;
}

div.context-view .menu-top {
    padding: 8px 8px 0px 8px;
}

div.context-view .menu-bottom {
    padding: 0px 8px 8px 8px;
}

div.context-view {
    text-align: left;
    position: absolute;
    bottom: 70px;
    right: 10px;
    background-color: #ffffffed;
    width: calc(100%*.4);
    box-shadow: 0px 5px 15px 6px #0000000d;
    border-radius: 8px;
}
