.progress-event {
    width: 240px;
    position: fixed;
    left: 50%;
    top: 40%;
    z-index: 1;
    margin: 140px 0 0 -120px;
    background-color: #eaeaea;
    border-radius: 20px;
}

.progress-event .loader {
    height: 3.5px;
    border-radius: 20px;
    background-color: #00E3D1;
    transition: .3s width;
}
