.widget {
    display: flex;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.widget .widget-label {
    padding: 10px;
    text-transform: uppercase;
    width: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.widget .widget-counter {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    padding: 10px 25px;
}

.bgcolor-warning {
    color: #edf4f6;
}
.widget.bgcolor-warning .widget-counter {
    background-color: #FF9800;
}
.widget.bgcolor-warning .widget-label {
    background-color: #FFC107;
}

.bgcolor-primary {
    color: #edf4f6;
}
.widget.bgcolor-primary .widget-counter {
    background-color: #2196F3;
}
.widget.bgcolor-primary .widget-label {
    background-color: #03A9F4;
}

.bgcolor-secondary {
    color: #edf4f6;
}
.widget.bgcolor-secondary .widget-counter {
    background-color: #323232;
}
.widget.bgcolor-secondary .widget-label {
    background-color: #383838;
}

.bgcolor-dark {
    color: #edf4f6;
}
.widget.bgcolor-dark .widget-counter {
    background-color: rgb(33, 37, 43);
}
.widget.bgcolor-dark .widget-label {
    background-color: rgb(41, 45, 50);
}

.bgcolor-light {
    color: #3e3e3e;
}
.widget.bgcolor-light .widget-counter {
    background-color: #d5d5d5;
}
.widget.bgcolor-light .widget-label {
    background-color: #ededed;
}

.bgcolor-info {
    color: #edf4f6;
}
.widget.bgcolor-info .widget-counter {
    background-color: #17a2b8;
}
.widget.bgcolor-info .widget-label {
    background-color: #37b1c4;
}

.bgcolor-success {
    color: #edf4f6;
}
.widget.bgcolor-success .widget-counter {
    background-color: #1ac842;
}
.widget.bgcolor-success .widget-label {
    background-color: #26cf4d;
}