div.form-signup .footer {
    text-align: center;
    margin-top: 35px;

    letter-spacing: 0.3px;
    font-size: 1.1rem;
}

div.form-signup button {
    margin-top: 35px;
}

div.form-signup .input {
    margin-top: 35px;
}

div.form-signup {
    margin: 0px 10px;
}

div.input-register-signup {
    margin-top: 35px;
}
